footer {
    background: $color1;
    width: 80vw;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 55vh;
    display: grid;
    grid-template-columns: 50% 50%;

    .footer-left {
        border-right: 1px solid rgba(152, 151, 151, 0.486);
        form {
            height: 100%;
            width: 85%;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            

            label {
                font-family: $font1;
                font-size: 0.6rem;
                color: rgba(89, 89, 89, 0.942);
                text-transform: uppercase;
            }

            input {
                margin: 15px 0 15px 0;
                height: 35px;
                width: 100%;
                border: 1px solid rgba(120, 119, 119, 0.486);
                background: none;
            }

            textarea {
                width: 100%;
                margin: 15px 0 15px 0px;
                resize: none;
                height: 200px;
                border: 1px solid rgba(120, 119, 119, 0.486);
                background: none;
            }
            
            button {
                border: 2px solid rgba(120, 119, 119, 0.794);
                color: rgba(89, 89, 89, 0.942);
                margin-top: 22px;
                &:hover {
                    color: $color1;
                    background: rgba(89, 89, 89, 0.942);
                }
            }
        }
    }

    .footer-right {
        padding: 30px;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;

        .contact {
            display: grid;
            grid-template-columns: 25% 75%;
            align-items: center;
            border-bottom: 1px solid rgba(120, 119, 119, 0.486);

            .social-icon ul {
                display: flex;

                li {
                    margin: 0 15px;
                    border: 1px solid rgba(120, 119, 119, 0.486);
                    border-radius: 1000px;
                    &:hover {
                        color: $color1;
                        background: $color2;
                    }

                    i {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .left-p {
        font-family: $font1;
        text-transform: uppercase;
        font-size: 0.7rem;
        color: rgba(89, 89, 89, 0.942)
    }

    .right-p {
        font-family: $font2;
        font-size: 0.6rem;
        line-height: 30px;
        color: rgba(89, 89, 89, 0.942)
    }
}

@media screen and ( max-width:900px) {
    footer {
        display: block;
        height: 100vh;
        .footer-left {
            padding-top: 20px;
        }
        .footer-right {
            height: 400px;
            background: $color1;
            
        }
    }
}

@media screen and (max-width:452px) {
    .contact {
        .social-icon {
            ul {             
                li {
                    i {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}